name: HTML Website Deployment

on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - "website/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init & Apply
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

    #   - name: Get EC2 Public IP
    #     id: get_ip
    #     run: |
    #       echo "EC2_IP=$(cd terraform && terraform output -raw public_ip)" >> $GITHUB_ENV

    #   - name: Get EC2 Public IP
    #     id: ec2ip
    #     working-directory: ./terraform
    #     run: echo "EC2_IP=$(terraform output -raw public_ip)" >> $GITHUB_ENV

      - name: Get EC2 Public IP
        run: |
          cd terraform
          # Capture only the last line (IP), remove newlines and any extra characters
          EC2_IP=$(terraform output -raw public_ip | tail -n 1 | tr -d '\n')
          echo "EC2_IP=$EC2_IP" >> $GITHUB_ENV


      - name: wait for ec2 to be ready for ssh    
        run: sleep 40



      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $EC2_IP >> ~/.ssh/known_hosts

      - name: Copy website files to EC2
        run: |
          rsync -avz website/ ubuntu@$EC2_IP:/var/www/html/

