name: HTML Website Deployment

on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"
      - "website/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Apply
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

    #   - name: Get EC2 Public IP
    #     id: get_ip
    #     run: |
    #       echo "EC2_IP=$(cd terraform && terraform output -raw public_ip)" >> $GITHUB_ENV

      - name: Get EC2 Public IP
        id: ec2ip
        working-directory: ./terraform
        run: echo "EC2_IP=$(terraform output -raw public_ip)" >> $GITHUB_ENV

      - name: wait for ec2 to be ready for ssh    
        run: sleep 40

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          
      - name: Copy website to EC2
        run: |
          rsync -avz -e "ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no" website/ ubuntu@${{ env.EC2_IP }}:/tmp/website

      - name: Deploy website to nginx folder
        run: |
          ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ubuntu@${{ env.EC2_IP }} "sudo rm -rf /var/www/html/* && sudo mv /tmp/website/* /var/www/html/"

